* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

[class*=__container] {
  max-width: clamp(19.375rem, 5.5rem + 69.38vw, 88.75rem);
  margin: 0 auto;
}

:root {
  --f1: Rubik, sans-serif;
  --f2: Montserrat, sans-serif;
  --cgreen: #27ae60;
  --ccblack: #393838;
  --ch: #1d1d1b;
  --ctypo: #67675f;
  --cdown: #1e1e1c;
  --menu: #1d1d1b;
  --hover: #2ebc69;
  --bg: #f8f8f8;
}

.title {
  color: var(--ch);
  font-family: Rubik;
  font-size: 42px;
  font-weight: 500;
  font-style: normal;
}

.desc {
  color: #fff;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

body {
  font-family: Rubik, sans-serif;
}
body._lock {
  overflow: hidden;
}

.header {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: clamp(0.625rem, 0.161rem + 2.32vw, 3.875rem);
}
.header__menu {
  display: flex;
  align-items: center;
}

.menu__body {
  padding-left: 41px;
  display: flex;
  gap: 48px;
}
@media (max-width: 1406px) {
  .menu__body {
    position: absolute;
    top: -150%;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--cgreen);
    display: flex;
    flex-direction: column;
    gap: 100px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
  }
  .menu__body.active {
    top: 0;
  }
}
.menu__item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu__link {
  color: var(--menu);
  transition: 0.2s;
}
@media (max-width: 1406px) {
  .menu__link {
    color: #fff;
    font-size: 25px;
  }
}
.menu__link:hover {
  color: var(--cgreen);
}
@media (max-width: 1406px) {
  .menu__link:hover {
    color: #fff;
  }
}
.menu-icon {
  display: none;
}
@media (max-width: 1406px) {
  .menu-icon {
    margin-left: clamp(1.875rem, -13.226rem + 75.51vw, 53.125rem);
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 8;
  }
  .menu-icon span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
  .menu-icon span:first-child {
    top: 0;
  }
  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu-icon._active span {
    background-color: #fff;
    transform: scale(0);
  }
  .menu-icon._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-icon._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer {
  padding: 15px 0;
  background-color: #424141;
  color: #fff;
}
@media (max-width: 1517px) {
  .footer {
    margin-top: 65px;
  }
}
.footer__cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1140px) {
  .footer__cont {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1517px) {
  .footer__logo {
    gap: 20px;
  }
}
@media (max-width: 1371px) {
  .footer__logo {
    gap: clamp(2.5rem, -7.153rem + 13.48vw, 5.625rem);
  }
}
@media (max-width: 1140px) {
  .footer__logo {
    flex-direction: column;
  }
}
.footer__logo-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.6;
}
.footer__items {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1517px) {
  .footer__items {
    gap: 20px;
  }
}
@media (max-width: 1371px) {
  .footer__items {
    display: none;
  }
}
.footer__items-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}
.footer__sociable {
  display: flex;
  align-items: center;
  gap: 36px;
}
@media (max-width: 1517px) {
  .footer__sociable {
    gap: 20px;
  }
}
@media (max-width: 1371px) {
  .footer__sociable {
    gap: 30px;
  }
}
.footer__icon {
  margin-left: 25px;
}
@media (max-width: 1517px) {
  .footer__icon {
    margin-left: 10px;
  }
}
@media (max-width: 1371px) {
  .footer__icon {
    margin-left: 20px;
  }
}
.footer__icon:nth-child(1) {
  margin-left: 0;
}
.footer__sociable-number {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  padding: 15px 30px;
  border: 1px solid #fff;
}

.materials {
  margin-top: 70px;
  margin-bottom: 65px;
}
@media (max-width: 695px) {
  .materials {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
.materials__line {
  height: 1px;
  width: 100%;
  background: #cdcdcd;
}
.materials__items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4px;
}
.materials__item {
  color: rgba(30, 30, 28, 0.6);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.questions {
  background-color: var(--bg);
}
@media (max-width: 550px) {
  .questions__container {
    max-width: 100%;
  }
}
@media (max-width: 550px) {
  .questions__btn {
    display: none;
  }
}
.questions__cont {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1517px) {
  .questions__cont {
    flex-direction: column;
  }
}
.questions__question {
  padding: 89px 0 137px 0;
  width: 489px;
}
@media (max-width: 1517px) {
  .questions__question {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .questions__question {
    max-width: clamp(19.375rem, 5.5rem + 69.38vw, 88.75rem);
    margin: 0 auto;
  }
}
.questions__desc {
  margin-top: 23px;
  color: var(--cgreen);
  font-size: 28px;
  font-weight: 400;
  line-height: 140%;
}
.questions__floor {
  color: var(--cdown);
  font-size: 22px;
  font-weight: 300;
  line-height: 140%;
}
.questions__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1517px) {
  .questions__form {
    margin-bottom: 50px;
    align-items: start;
    margin-top: -50px;
  }
}
.questions__square {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(7, 17, 51, 0.07);
  height: 475px;
  width: 686px;
}
@media (max-width: 857px) {
  .questions__square {
    width: 100%;
  }
}
.questions__agreement {
  margin-top: 35px;
  color: #181a28;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 30px;
  gap: 10px;
  display: flex;
}
.questions__input {
  margin: 45px 45px 0 45px;
  display: flex;
  flex-direction: column;
}

.question__line {
  width: 318px;
  height: 57px;
  background-color: var(--cgreen);
}
@media (max-width: 1517px) {
  .question__line {
    display: none;
  }
}

.input1 {
  padding: 23px 30px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
@media (max-width: 857px) {
  .input1 {
    padding: 10px 15px;
  }
}

.input2 {
  padding: 23px 30px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 857px) {
  .input2 {
    padding: 10px 15px;
  }
}

.input3 {
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 23px 30px;
  height: 172px;
  resize: none;
}
@media (max-width: 857px) {
  .input3 {
    padding: 10px 15px 20px;
  }
}

.input3:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.materials__cont {
  display: flex;
  gap: 61px;
}
@media (max-width: 1597px) {
  .materials__cont {
    flex-direction: column;
    gap: 30px;
  }
}
.materials__cont:nth-child(1) {
  margin-top: 70px;
  margin-bottom: 40px;
}
.materials__cont:nth-child(2) {
  margin-bottom: 30px;
}
.materials__image {
  width: clamp(20.938rem, 17.1rem + 19.19vw, 36.25rem);
  height: clamp(13.875rem, 9.834rem + 20.2vw, 30rem);
}
@media (max-width: 1597px) {
  .materials__image {
    border-radius: 5px;
  }
}
.materials__text {
  width: clamp(49.875rem, 111.06rem - 61.3vw, 37.5rem);
}
@media (max-width: 1597px) {
  .materials__text {
    width: 100%;
  }
}
.materials__title {
  color: #1d1d1b;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
}
.materials__desc {
  margin-top: 24px;
  color: #1d1d1b;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}
.materials__price {
  margin-top: 61px;
}

.price__cont {
  margin-bottom: 20px;
  display: flex;
  align-items: end;
  gap: 5px;
}
.price__1 {
  color: #1d1d1b;
  font-size: 16px;
  font-weight: 300;
  line-height: 130%;
}
.price__line1 {
  background: #ccc;
  height: 1px;
  width: clamp(3.938rem, -0.949rem + 24.43vw, 17.375rem);
}
.price__line2 {
  background: #ccc;
  height: 1px;
  width: clamp(4.313rem, -0.619rem + 24.66vw, 17.875rem);
}
.price__line3 {
  background: #ccc;
  height: 1px;
  width: clamp(3.125rem, -1.761rem + 24.43vw, 16.563rem);
}
.price__line4 {
  background: #ccc;
  height: 1px;
  width: clamp(4.75rem, -0.227rem + 24.89vw, 18.438rem);
}
.price__line5 {
  background: #ccc;
  height: 1px;
  width: clamp(4.438rem, -0.517rem + 24.77vw, 18.063rem);
}
.price__line6 {
  background: #ccc;
  height: 1px;
  width: clamp(3.625rem, -2.102rem + 28.64vw, 19.375rem);
}
.price__num {
  color: #1d1d1b;
  font-size: 16px;
  font-weight: 300;
  line-height: 130%;
}

.greeen {
  color: #27ae60;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

.active-menu {
  color: var(--cgreen);
}/*# sourceMappingURL=style3.css.map */